.text{
    display: flex;
}


.owners{
    width: 100%;
    float: right;
    clear: both;
}

.about_contain{
    position:relative;
    top:60px;
    
}

.about_contain::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../sources/backImgAbout.jpeg");
  background-size: cover;
  filter: brightness(1.2);
  z-index: 1;
}

.content{
    position: relative;
    z-index: 2;
    /* background-color:#F5F5F5; */

}

.bg_darker{
    background-color: #484848;
    height: 100%;
    color: white;
}
.text_content{
    white-space: pre;
}

.flex-child {
    margin-bottom: 0px;
} 


.bottom_marg{
    margin-bottom: 0px;
}

.left_f{
    float: left;
    margin-left: 8%;
}