.flex_container{
    display: flex;
    height: 40%;
    min-height: 40vh;
}

.owners_txt{
    margin: 1vh;
    max-height: 40vh;
    font-size: 2vh;
}

h1{
    font-size: 4vh;
}
.flex_child{
    flex: 1;
    margin-left: 2.5%;
    font-size: 2vh;
    /* width: 50%; */
}

.company_name{
    margin-top:10%;
}

.about_container{
    margin-bottom: 13%;

    /* height: 100%; */

    min-height: 50vh;
}

.about_container::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../sources/backImgAbout.jpeg");
    background-size: cover;
    filter: brightness(1.2);
    z-index: -3;
}
.bg_darker{
    background-color: #484848;
    height: 100%;
    color: white;
}

/* .text{
    display: flex;
}


.owners{
    width: 100%;
    float: right;
    clear: both;
}

.about_contain{
    height: 150vh;    
}

h1{
    font-size: 6vh;
}


.content{
    position: relative;
    top:20%;
    z-index: 2;
    height: 100%;
    font-size: 2.5vh;

}


.text_content{
    white-space: pre;
}

.flex-child {
    margin-bottom: 0px;
} 


.bottom_marg{
    margin-bottom: 0px;
}

.left_f{
    float: left;
    margin-left: 8%;
}

.contact_marg{
    margin-right: 10%;
} */