@media screen and (max-width: 4000000px) {
    .ourproj_contain{
        width:85vw;
        height:70vh;
        font-size:1vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1vw;
    }
    .img_logo{
        width:35%;
        height:40%;
    }
}
@media screen and (max-width: 4000px) {
    .ourproj_contain{
        width:85vw;
        height:60vh;
        font-size:1.7vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.7vw;
    }
    .img_logo{
        width:35%;
        height:30%;
    }
}
@media screen and (max-width: 3000px) {
    .ourproj_contain{
        width:85vw;
        height:55vh;
        font-size:1.2vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1vw;
    }
    .img_logo{
        width:35%;
        height:35%;
    }
}
@media screen and (max-width: 2500px) {
    .ourproj_contain{
        width:85vw;
        height:35vh;
        font-size:1.2vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.1vw;
    }
    .img_logo{
        width:35%;
        height:35%;
    }
}
@media screen and (max-width: 2000px) {
    .ourproj_contain{
        width:85vw;
        height:60vh;
        font-size:1.4vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.2vw;
    }
    .img_logo{
        width:40%;
        height:30%;
    }
}
@media screen and (max-width: 1700px) {
    .ourproj_contain{
        width:85vw;
        height:50vh;
        font-size:1.5vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.5vw;
    }
    .img_logo{
        width:30%;
        height:30%;
    }
}
@media screen and (max-width: 1500px) {
    .ourproj_contain{
        width:85vw;
        height:50vh;
        font-size:1.5vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.5vw;
    }
    .img_logo{
        width:30%;
        height:30%;
    }
}
@media screen and (max-width: 1300px) {
    .ourproj_contain{
        width:85vw;
        height:65vh;
        font-size:1.5vw;
        margin-bottom: 5%;
    
    }
    .text_ourproj{
        font-size: 1.5vw;
    }
    .img_logo{
        width:30%;
        height:30%;
    }
}
@media screen and (max-width: 1000px) {
    .ourproj_contain{
        width:85vw;
        height:30vh;
        font-size:1.5vw;
        margin-bottom: 10%;
    
    }
    .text_ourproj{
        font-size: 1.5vw;
    }
    .img_logo{
        width:30%;
        height:25%;
    }
}
@media screen and (max-width: 500px) {
    .ourproj_contain{
        width:85vw;
        height:25vh;
        font-size:2.5vw;
        margin-bottom: 15%;
    
    }
    .text_ourproj{
        font-size: 2vw;
    }
    .img_logo{
        width:55%;
        height:20%;
    }
}

.sh{
    float: right;
    height: 100%;
}

.p{
    width:100%;
}


.img_ourproj{
    position:relative;
    top:0px;
    width:80%;
    height:100%;
}


.img_logo{
    position:relative;
    top:0px;
}

.text_ourproj{
    margin-top: 2%;
}

.centerY{
    position: relative;
    top: 10%;
}