.sh{
    float: right;
}

.p{
    width:100%;
}

.ourproj_contain{
    width:90%;
    height:300px;
}

.img_ourproj{
    position:relative;
    top:0px;
    width:80%;
    height:300px;
}


.img_logo{
    position:relative;
    top:0px;
    width:150px;
    height:150px;
}