

.ourproj_contain{
    width: 30rem;
    height: 15rem;
    display: flex;
    margin-bottom: 5%;
}

.img_ourproj{
    height: 15rem;
    width: 15rem;
}

.centerY{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height:6rem;
    width: 6rem;
}
@media screen and (min-width:600px){
    .ourproj_contain{
        width: 85vw;
        height: 18rem;
    }
    .img_ourproj{
        height: 18rem;
        width: 50%;
    }
}