.contain_navbar{
    position: relative;
    margin-top:1%;
    background-color:#d3d3d3ac;
    width:100%;
    float:left;
    margin-bottom: 0%;
}


.navigateFl, .body_foot, .logo_img
{
    margin-top:5%;
    width: 33%;
    height: 100%;
}

.navigateFl{
    float: right;
    clear:left;
}


.po{
    cursor: pointer;
    width: 22%;
    position: relative;
    right: 30%;
}

.po:hover{
    font-weight: bold;
    /* color: blue; */
    position: relative;
    top: -7px;
}

.contain_menu{
    width: 100%;
    
}

.imageLogo{
    height: 100%;
    width: 200px;
}