.shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav{
    margin: 10px;
}
.nav_bootstrap{
    width: 100%;
}

.image_logo{
    height: 27px;
    width: 60px;
}

.nav_logo{
    position: relative;
    right: 30%;
    font-size: medium;
}