.formText{
    direction:rtl;
    position: relative;
    right: 30%;
    top: 70px;
}
h1{
    font-size: 4vw;
}
.container_contact{
    height:100vh;
    font-size: 1.7vw;
    margin-top: 10%;

}

.after_submit{
    position:relative;
    top:5%;
}

.company_logo{
    margin-top: 15%;
    position:relative;
    right:1%;
    font-size: larger;
}


.thanks{
    position: relative;
    right: 4%;
}
.thanks_text{
    position: relative;
    right: 8%;
    font-size: larger;
}

.require{
    color: red;
}