.Home{
    height: 350vh;
    margin-bottom:10%;
    width: 99vw;
}

body{
    background-color:#F5F5F5;
}


/* .container{
    position: relative;
    height: 50%;
    width: 100%;
    right: -5%;
}  */

.description_text{
    white-space: pre-line;
    font-size: 1.2vw;
}

.head_text{
    position: relative;
    z-index: 2;
    color: white;
    top: 30%;
}

.header_text, .home_txt{
    font-size: 6vw;
}

.nav_projects{
    background-color: goldenrod;
    color: white;
    font-size: 1vw;
}


.home_txt{
    color: gold;

}

.description{
    position:relative;
    top:2%;    
    height: 40%;
}

.description::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../sources/Home.jpeg");
    filter: brightness(50%);
    background-size: cover;
    z-index: -3;
}

.proj{
    position: relative;
    top: 5%;
    height: 60%;
}

.allProj{
    position: relative;
    right: 12% ;
    height: 95%;
}