.Popup{
    position: absolute;
    top: 10vh;
    /* height: 20%; */
    width: 80vw;
    left: 10%;
}

.X{
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    top:2.3rem;
    left: .8rem;
    z-index: 100;
    color: darkblue;
}